{% extends "layout.html" %}
{% block body %}
    <div class="main">
        {% include "header.html" %}
        <div id="filters" class="filters">
            {% for filter in Filters %}
                {% include "library/filter.html" %}
            {% endfor %}
        </div>
        <div id="container">
            <div id="cards">
                {% for book in Books %}
                    {% include "library/book.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}