{% extends "layout.html" %}
{% block body %}
    <div class="main" style="margin-top: 6em; display: inline-block; text-align: center">
        {% include "header.html" %}
        <div style=" padding: 1em;">
            <form action="/update" method="post">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type="text" name="fname" placeholder="{{ lang.given_name }}" value="{{ user.first_name }}"><br>
                <input type="text" name="lname" placeholder="{{ lang.surname }}" value="{{ user.last_name }}"><br>
                <input type="text" name="email" placeholder="{{ lang.email }}" value="{{ user.email }}"><br>
                <button type="button" onclick="showModal('update-password')">{{ lang.update_password }}</button><br>
                <select name="language">
                    <option value="eng">{{ lang.eng }}</option>
                    <option value="jpn">{{ lang.jpn }}</option>
                    <option value="spn">{{ lang.spn }}</option>
                    <option value="ger">{{ lang.ger }}</option>
                    <option value="fre">{{ lang.fre }}</option>
                </select>
                <button type="submit">{{ lang.save }}</button>
            </form>
        </div>
        {% with user=user %}
            {% include "user/update_password_modal.html" %}
        {% endwith %}
    </div>
{% endblock %}