    <div class="header">
        <ul id="header" class="header">
            <ul>
                <li class="left title">
                    <a href="{{ url_for("library.index") }}"><h1>pyBook</h1></a>
                </li>

                {% if request.path  == "/" %}

                <li class="left icon">
                    <a onclick="cardView()" href="javascript:void(0);"><h2><i class="fa fa-list-alt" aria-hidden="true"></i></h2></a>
                </li>
                <li class="left icon">
                    <a onclick="listView()" href="javascript:void(0);"><h2><i class="fa fa-list" aria-hidden="true"></i></h2></a>
                </li>
                <li class="left icon">
                    <a onclick="iconView()" href="javascript:void(0);"><h2><i class="fa fa-file-image-o" aria-hidden="true"></i></h2></a>
                </li>

                <li class="left">
                    <select class="select" id="search-type">
                        <option value="author"><span class="select">{{ lang.author }}</span><i class="fa fa-caret-down"></i></option>
                        <option value="title">{{ lang.title }}<i class="fa fa-caret-down"></i></option>
                        <option value="isbn10">ISBN 10<i class="fa fa-caret-down"></i></option>
                        <option value="1sbn13">ISBN 13<i class="fa fa-caret-down"></i></option>
                        <option value="all">{{ lang.all }}<i class="fa fa-caret-down"></i></option>
                    </select>
                </li>
                <li class="left search">
                    <input id="searchTXT" type="text" onkeydown="addFilter(event)">
                </li>

                </ul>

                {% endif %}



                {% if not session.logged_in %}
                <div class="dropdown" style="float:right;">
                    <button class="dropbtn" onclick="logInModal()" href="javascript:void(0);"><h3><i class="fa fa-user-o" aria-hidden="true"></i> {{ lang.login }}</h3></button>
                </div>
                    <!--
                    <li class="right button">
                        <button onclick="logInModal()" href="javascript:void(0);"><h3><i class="fa fa-user-o" aria-hidden="true"></i> login</h3></button>
                    </li>
                     -->
                     <!-- href="{{ url_for('library.log_in') }}" -->
            <!--    </ul>   -->
                {% else %}
            <!--    </ul>   -->
                <div class="dropdown" style="float:right;">
                    <button class="dropbtn"><h3>{{ session.user }} <i class="fa fa-caret-down" aria-hidden="true"></i></h3></button>
                    <div class="dropdown-content">
                    {% if request.path  != "/" %}
                        <a href="{{ url_for("library.index") }}">{{ lang.home }}</a>
                    {% endif %}
                        <a href="{{ url_for("user.index") }}">{{ lang.user }}</a>
                    {% if session.admin %}
                        <a href="{{ url_for("admin.index") }}">{{ lang.admin }}</a>
                    {% endif %}
                        <a href="{{ url_for("library.log_out") }}">{{ lang.logout }}</a>
                    </div>
                </div>
                {% endif %}
                {% if session.admin %}
                <li class="right icon">
                    <a onclick="addBookModal('{{ api_key }}')" href="javascript:void(0);"><h2><i class="fa fa-plus" aria-hidden="true"></i></h2></a>
                </li>
                {% endif %}

            </ul>
        </div>
